# .gitignore file for git projects containing Stata files

# Stata files
*.dta
*.gph
*.log
*.smcl
*.stpr
*.stsem
*.stswp

# == data files ==
*.pdf
*.jpg
*.png
*.docx
*.csv
*.xlsx
*.feather
*.zip
*.gz
*.tar.gz
*.DS_Store
*.html
*.json
*.txt


# == R files ==
*.Rhistory
*.Rproj.user
*.Rproj.user/
*.RData
*.Rdata
*.rds
*.RDS

# == Quarto file ==
*.quarto
*.httr-oauth

# == Geo files ==
*.nc
*.tif
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.fbn
*.fbx
*.ain
*.aih
*.xml
*.atx
*.geojson