# .gitignore file for git projects containing Stata files

# Stata files
*.dta
*.gph
*.log
*.smcl
*.stpr
*.stsem
*.stswp


# == R files ==
*.Rhistory
*.Rproj.user
*.Rproj.user/
*.RData
*.Rdata
*.rds
*.RDS

# == Quarto file ==
*.quarto
*.httr-oauth

# == Geo files ==
*.nc
*.tif
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.fbn
*.fbx
*.ain
*.aih
*.xml
*.atx
*.geojson
vignettes/.DS_Store
.positai
.DS_Store
.DS_Store
.DS_Store
.DS_Store
